/*
 * @Author: CNABS 
 * @Date: 2018-02-07 15:44:53 
 * @Last Modified by: bzhou
 * @Last Modified time: 2018-02-07 15:50:07
 */
/*   结构图样式   */
.St_Out_Div {
    margin: 0 auto;
}
.St_Inner_Div {
    border-top: 2px solid #000;
    background-color: #000;
    color: #FFF;
}

.St_Inner_Text {
    display: inline-block;
    color: #fff;
    font-size: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 99;
}

.St_Payment {
    display: block;
    background-image: url('../../public/images/table_bg.png');
    opacity: 0.7;
    position: absolute;
    top: 0;
    background-repeat: repeat;
}

.St_Inner_Td {
    display: inline-block;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background-color: #615C55;
    position: relative;
}

.St_Inner_Td_Single {
    display: block;
    background-color: #615C55;        
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
}

.St_Select {
    background-color: #ffe40c;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
    display: inline-block;
}

.St_Select_Single {
    background-color: #ffe40c;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    position: relative;
    display: block;
}

.St_Text_Min {
    display: inline-block;
    line-height: 13px;
    vertical-align: middle;
}